body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    padding: 10px;
}
nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}
nav li {
    margin-right: 20px;
}

/* Content */
.content {
    padding: 100px;
}
.nav-content {
    display: none;
}
.nav-content.active {
    display: block;
}
